* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #28282B;
}

/* .fondo{

    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover; 
}  */

.capcalera {
    display: flex;
    width: 80%;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    padding: 0px 30px;
    justify-content: center;

}

.logo {
    height: 100%;
}

.opcions {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: bold;
    background: #111;
    color: white;
    align-items: center;
}

.menu{
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    gap: 12px;
}

.capcalera {
    border: 2px solid black;
    display: flex;
    width: 80%;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    padding: 0px 30px;
    justify-content: space-between;
    background: #111;
}

nav a {
    text-decoration: none;
    color: white;
}

/***Donant estil al menú***/
nav a:hover {
    text-decoration: underline gold 2px solid;
    display: inline-block;
    position: relative;
    transform: scale(1.1);
    transition: .5s;
}

nav a ::after {
    position: absolute;
    left: 0;
    transition: transform .5s;
    transform-origin: right;
    top: 5px;
}

nav a::before {
    transform-origin: right;

}

/***Creant el formulari de registre***/

.formulari {
    border: 3px solid black;
    display: flex;
    width: 35%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 5px;
    align-content: space-between;
}

.titolform {

    width: 100%;
    text-align: center;
    color: gold;
    font-family: 'Cormorant Garamond';
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #272722;
    border-bottom: 1px solid black;

}

.intro {
    text-align: center;
    width: 100%;
    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    color:gold;
    background-color: #272722;
    border-bottom: 2px solid black;
}

.text {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    float: left;
    height: auto;
}

.registre {
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 1rem;
    margin: 2rem;
    width: 80%;
}
.bloc1 {
    width: 76%;
}


.camp {
    font-size: 1.3rem;
    width: 100%;
    padding: 5px;
    border: none;
}

p.camp {
    /*Espaiat entre text i camp*/
    line-height: 3rem;
}

.boto {
    width: 100%;
    padding: 1rem;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 1rem;
}

.botonet {
    cursor: pointer;
    border: none;
    padding: 1rem;
    width: 80%;
    background-color: #272727;
    color: gold;
    border-radius: 5px;
}


/*************Estil Footer*************/



.contingutF {
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
    /* bottom: 0;   */
}

.xarxes {
    width: 100%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 30px;
}

.xarxes a {
    text-decoration: none;

}

.xarxes a:hover {
    text-decoration: underline;
    background-color: darkmagenta;
}

.fa {
    margin: 0 12px;
    text-decoration: none;
    color: white;
}