@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Josefin Sans',sans-serif ;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
} 

body{
    background-color: #28282B;
    background-size: cover; 
    background-attachment: fixed;
}

.capcalera {
    display: flex;
    width: 80%;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    padding: 0px 30px;
    justify-content: center;
    /* position: fixed; */
    
}

.logo{
    height: 100%;
}

.opcions{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: bold;
	background: #111;
	color: white;
    align-items: center;
}

.menu{
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    gap: 12px;
}
.capcalera {
    border: 2px solid black;
    display: flex;
    width: 80%;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    padding: 0px 30px;
    justify-content: space-between;
    background: #111;
}

nav a {
    text-decoration: none;
    color: white;
}

/***Donant estil al menú***/
nav a:hover{
    text-decoration: underline gold;
    display: inline-block;
    position: relative;
    transform: scale(1.1);
    transition: .5s;
}

nav a ::after{
    position: absolute;
    left: 0;
    transition: transform .5s;
    transform-origin: right;
    top: 5px;
}
nav a::before{
    transform-origin: right;

}

/*************Titol Índex*************/

.titolbase h1{
    font-size: 5rem;
    font-family: 'Cormorant Garamond';
}

.titolbase{
    color: white;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

/*************Estil Contenidor Series*************/

.general{
    margin: auto;
    
}

#continguts {

    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    justify-content: center;
}

#cercar{
    width: 80%;
}

#myInput{
    width: 95%;
    font-size: 1.3rem;
    padding: 5px;
    border: none;
}

#series {
    display: flex;
    border: 2px white solid;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}

.fitxes {
    width: 26rem;
    height: 42rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    background-image: url(../imatges/targeta.jpg);
}

.fitxes img{
    border: solid 2px black;
    padding: 5px;
    height: 100%;
    margin-bottom: 1rem;

}

.fitxes p {
    font-size: 1.5rem;
    text-transform: capitalize;
    background-color: gold;
    font-weight: bold;
}

.fitxes p:nth-child(3){

    text-transform: none;
    background-color: black;
    color: white;
}



/*************Estil Footer*************/

.footer .xarxes a{
    text-decoration: none; 

}

.xarxes a:hover {
    text-decoration: underline;
    background-color: darkmagenta;
}

.contingutF{

    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
    height: auto;
    position: absolute;
    bottom: 0;   
}

.xarxes{
    width:100%;
    color:gray;
    font-size:30px;
}

.fa{
    margin: 0 12px;
    text-decoration: none;
    color: white ;
}
