
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family:'Josefin Sans',sans-serif ;
    box-sizing: border-box;
}

body{
    background-color: #28282B;
    background-size: cover; 
    background-attachment: fixed;
}

.capcalera {
    display: flex;
    width: 80%;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    padding: 0px 30px;
    justify-content: center;
    /* position: fixed; */
    
}

.logo{
    height: 100%;
}

.opcions{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: bold;
	background: #111;
	color: white;
    align-items: center;
}

.menu{
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}

.capcalera {
    border: 2px solid black;
    display: flex;
    width: 80%;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    padding: 0px 30px;
    justify-content: space-between;
    background: #111;
}

nav a {
    text-decoration: none;
    color: white;
}

/***Donant estil al menú***/
nav a:hover{
    text-decoration: underline gold;
    display: inline-block;
    position: relative;
    transform: scale(1.1);
    transition: .5s;
}

nav a ::after{
    position: absolute;
    left: 0;
    transition: transform .5s;
    transform-origin: right;
    top: 5px;
}
nav a::before{
    transform-origin: right;

}

/*************Titol Índex*************/

.titolbase h1{
    font-size: 5rem;
    font-family: 'Cormorant Garamond';
}

.titolbase{
    color: white;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

/*************Estil Targetes*************/

.Contenidors{
    width: 85%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10rem;

}

.targetes{
    margin: auto;
    width: 350px
    ;
    border: 2px solid white;
    border-radius:5px ;
    padding: 31px 23px;
    transition: 0.4s;
}

.targetes:hover{
    box-shadow: 0 1px 2px violet;
    transform: scale(1.1, 1.1);
    transition: 0.4s;
}

.infotargeta{
    text-align: center;
    border-bottom: 2px solid rgba(207,221,228,0.87);
    padding-bottom: 2rem;
}

.nomTar{

    font-size: 3rem;
    color: white;
    padding-bottom: 1rem;
}

.preus{
    color: red;
    padding-bottom: 1rem;
}

.price:first-child .price:last-child{
    font-size: 1.5rem;
}

.price :nth-child(2){
    font-size: 1.5rem;
}

/*********************Boto compra***********************/

.botoCompra{
    background-color: darkblue;
    color: white;
    font-weight: 500;
    padding: 12px 16px;
    width: 80%;
    margin: 0 auto 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

/*************Caracteristiques*************/

.carac{

    padding-top: 3rem;
    color: white;
}

.titolcarac{
    text-align: center;
    padding: 1rem;
}

.llistatcarac {
    text-decoration: none;
    padding-bottom: 2rem;
    text-transform: none;
}

i.punt {
    font-style: normal;
    /* padding: 6px; */
}


/********MISSIÓ CINEMAX********/

.missio{
    /* border: white solid 2px; */
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.titolmissio{
    text-align: center;
    /* border: 2px solid blue; */
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    font-family: 'Cormorant Garamond';
    font-size: xxx-large;
}

.textmissio{
    color: white;
    padding: 1rem;
    text-align: center;
}

/*************Estil Adicional*************/

.trompeta{
    background-image: url(/imatges/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    color: white;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: underline;
    width: 100%;
    margin: 0 auto 3rem;
}


/*************Estil Footer*************/

.footer .xarxes a{
    text-decoration: none; 

    }

.xarxes a:hover {
    text-decoration: underline;
    background-color: darkmagenta;
}

.contingutF{

    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
    height: auto;
    position: absolute;
    /* bottom: 0;  */
}

.xarxes{
    width:100%;
    color:gray;
    font-size:30px;
}

.fa{
    margin: 0 12px;
    text-decoration: none;
    color: white ;
}
